
.section{
	background-color:grey;
	height:575px;
	width:1050px;
	float:right;
	opacity:0.9;

	border-radius:15px;

}
#updatebar{
    text-align: left;
    background: palegreen;
}
#main {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center; 
}
#header {
   padding: 5px;
   background-color: grey;
   height: 150; 
   
}
#menu{
    float: right;
    padding-top: 80px;
}  
   
#recipebar{
    background: lightgrey;
}
#signup {
    background: green;
    width: 80px;
    height: 30px;
}
#signbar{
background: blueviolet;
}
#views{
background: lightgrey;
}
#logbar{
    background: lightgreen;
    text-align: center;
    }
#logbar{
background: lightblue;
text-align: center;
}
#save {
	position:absolute;
	z-index: 10;
	border:1;
    background: green;
    width: 200px;
    height: 30px;
    padding-bottom: 20px;
}
#signin{
    background: blue;
    width: 80px;
    height: 30px;
}
#home{
    background: lightgrey;
    width: 80px;
    height: 30px;
}

.footer{
    text-align: center;
    background: lightblue;
   padding-bottom: 5px;
    height: 40px;
    

}

#words{
text-align: center;

}

#sidebar h3 {
    font-size: 24px;
    color: #044055;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 10px;
}
#sidebar {
    float: center;
    margin-left: 0px;
    margin-top: 0px;
    background: grey;
    border: 1px solid #BEBDBD;
    padding: 0px; 
    width: 1000;
    height: 1000;
}