
.section{
	background-color:grey;
	height:575px;
	width:1050px;
	float:right;
	opacity:0.9;

	border-radius:15px;

}
#updatebar{
    text-align: left;
    background: palegreen;
}
#main {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center; 
}
#header {
   padding: 5px;
   background-color: grey;
   height: 180;  
}
#menu{
    float: right;
    padding-top: 80px;
}  
#recipebar{
    background: lightgrey;
}
#signup {
    width: 80px;
    height: 30px;
    background-color:lightseagreen;
    border: solid 1px #000;
    border-radius: 10px
}
#signin{
    width: 80px;
    height: 30px;
    background-color:lightskyblue;
    border: solid 1px #000;
    border-radius: 10px
}
.btnrecipeedit{
    width: 100px;
    height: 30px;
    background-color:rgb(102, 126, 139);
    border: solid 1px #000;
    border-radius: 10px
    
}
.btnrecipeadd{
    width: 100px;
    height: 30px;
    background-color:rgb(73, 167, 94);
    border: solid 1px #000;
    border-radius: 10px
    
}
.btnrecipedel{
    width: 100px;
    height: 30px;
    background-color:rgb(172, 66, 66);
    border: solid 1px #000;
    border-radius: 10px
    
}
#welcome{
   text-align: center; 
}
#signbar{
background: lightcyan;
text-align: center;
height: 400px;
}
.addrecipe{
    background:lightgray;
}
#views{
background: lightgrey;
}
#logbar{
    background: lightgreen;
    text-align: center;
    }
#logbar{
background: lightblue;
text-align: center;
}
#save {
	position:absolute;
	z-index: 10;
	border:1;
    background: green;
    width: 80px;
    height: 30px;
    padding-bottom: 20px;
}
#home{
    background: lightgrey;
    width: 70px;
    height: 20px;
}
#view{
    background: lightblue;
    width: 120px;
    height: 20px;
}
.footer{
    text-align: center;
    background: lightblue;
    padding-bottom: 5px;
    height: 40px;
}
#words{
text-align: center;
}

