<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Yummy Recipes App</title>
   <link rel="stylesheet" href="static/css/style.css">
 
 
</head>
<body>
 <div id="recipebar">
    <div class="container">
        <div class="header">
            
            <h2 >Python Flask Yummy Recipes App</h2>
        </div>
    
        <section>
            <form method="post" action="{{url_for('add_category')}}">
                <fieldset>
 
                    <h2><legend>Create Your Yummy Recipes</legend></h2>
                    
                        <h3><label >Recipe category</label></h3>
                            <input type="text" name="title"  placeholder="recipe category" >
                    <br>
                    <input type='submit' value='Save Category'/>
 </fieldset>
 </form>
                    
</div>
       
        <footer class="footer">
            <p>&copy; Hadijah 2017</p>
        </footer>
 
    </div>
</body>
 
</html>