{% extends 'layout.html'%}
{% block body%}
<html>
<head>
		<title>Editing</title>
	<link rel="stylesheet" href="../static/css/style.css">
	 
	</head>
<div id="updatebar">
{% block form %}
    
            <h2 >UPDATE CATEGORY</h2>
            <fieldset>
            <form  method="POST" >                
                <label for="categoryname" ><h3> Update Category Name</h3></label>
                <input type="text" id="category" name="title" value="{{ session['category_title'] }}" required>
                <button type="submit" > Save </button>
            </form>
            </fieldset>
{% endblock %}
</div>
</html>
{% endblock %}