{% extends 'layout.html'%}
{%block body%}
<!DOCTYPE html>
<html >
 
<head>
    <title>Hadijahz Python Flask Yummy Recipes App</title>
<link rel="stylesheet" href="../static/css/style.css">
 
</head>

<body background="../static/images/bg.jpg">
    
        
<div id="header">
        <a href="{{url_for('main')}}"><image src="../static/images/image4.jpg" width="180" height="160" style="border-radius:15px;"></image></a>
    <div id="menu">
        <a href="{{url_for('showlogin')}}"><input type="button"  id="signin" name="signin" value="LOGIN"></a>
    <a href="{{url_for('signup')}}"><input type="button"  id ="signup" name="signup"  value= "SIGNUP "></a>                        
</div>                
 
</div>
<br>
<br>
<div id="welcome">
<h3 style="font-style: oblique; font-size: 250%;"><span>WELCOME TO YUMMY RECIPES </span></h3>
</div>

 


</body>  
</html>
{% endblock%}