<html>
<head>
<link rel="stylesheet" href="static/css/style.css">
 
 
<title>ALREADY HAVE AN ACCOUNT</title>
</head>
<div id="main">
<div id="logbar">
<div id="background">

      <div id="header">
	  <h1> LOGIN HERE<span></span></h1>
	 
	  </div>
	  </div>
<body>
<form method="POST" name="login" action="{{url_for('showlogin')}}">
{%  if error %}
<p>{{ error }} </p>
{% endif %}
<label>Email</label>
<input type="text" name="email_field"  required=""/>
<br /><br>
<label>Pass word</label>
<input type="password" name="password_field" required="" />
<br /><br>
<label>Submit</label>
<input  name="signin" id="signin" value="LOGIN" type="Submit"> 
</form>
</div>
</div>
</body>
</html>