<html>
<head>
<link rel="stylesheet" href="static/css/style.css">
 
 
<title>ALREADY HAVE AN ACCOUNT</title>
</head>
    <div id="header">
					<a href="{{url_for('main')}}"><image src="../static/images/image4.jpg" width="180" height="160" style="border-radius:15px;"></image></a>
				<div id="menu">
					<a href="{{url_for('main')}}"><input type="button"    name="logout" value="LOGOUT"></a>                      
				</div>
			</div>
<div id="logbar">
<div id="main">
	  <h1> LOGIN HERE<span></span></h1>
	  
<body>
<form method="POST" name="login" action="{{url_for('showlogin')}}">
{%  if error %}
<p>{{ error }} </p>
{% endif %}
<label>Email</label>
<input type="text" name="email_field"  required=""/>
<br /><br>
<label>Pass word</label>
<input type="password" name="password_field" required="" />
<br /><br>
<label>Submit</label>
<input  name="signin" id="signin" value="LOGIN" type="Submit"> 
</form>
</div>
</div>
</body>
</html>