{% extends 'layout.html' %}
{% block body %}
<html>
<head>

 <link rel="stylesheet" href="static/css/style.css">
<style>
label{display:inline-block;width:100px;margin-bottom:10px;}

</style>
 
 
<title>New User</title>
</head>
<div id="header">
		<a href="{{url_for('main')}}"><image src="../static/images/image4.jpg" width="180" height="160" style="border-radius:15px;"></image></a>
	<div id="menu">
		<a href="{{url_for('showlogin')}}"><input type="button"   id="signin" name="signin" value="LOGIN"></a>                      
</div>  
</div> 
<div id="signbar">
	  <h1> CREATE AN ACCOUNT/ REGISTER AS A NEW USER<span></span></h1> 
<body>
<form method="POST" action="{{url_for('signup')}}">
<label>First Name</label>
<input type="text" name="firstname_field" placeholder=" Enter First name"  />
<br /><br>
<label>Last Name</label>
<input type="text" name="lastname_field" placeholder="lastName"  />
<br /><br>
<label>Email</label>
<input type="email" name="email_field" />
<br /><br>
<label>Password</label>
<input type="password" name="password_field"  />
<br /><br>
<input  name="signup" id="signup"  value="SIGNUP" type="Submit"> 
</form>

</div>
</body>
</html>
{% endblock %}