<html>
<head>
<link rel="stylesheet" href="static/css/style.css">
</head>
{% block heading %} 
<div>
    <a href="/category" class="text-muted">VIEW MY RECIPES CATEGORIES</a>
    <br><h3>Recipe Category
    <a > - {{ session['current_category_title'] }}</a></h3>
</div>    
<h3><a href="{{ url_for('add_recipe') }}" class="btn text-muted">Add recipe to the above category</a> </h3>               
{% endblock %}
 {% for name, recipe in recipes.items() %}
            
                <h3 >RecipeName: {{ name }}</h3>
                <h3>Recipe Contents:{{ recipe.contents }}</h3>
                <h3>Recipe instructions:{{  recipe.instructions }}</h3>
                <a href="{{url_for('delete_recipe',name=name)}}"><input type='submit' value='Delete Recipe'/></a>
           
    {% endfor %}
    <div class="section">
    <image src="static/images/image4.jpg" width="180" height="160" style="border-radius:15px;"></image>
</div>
    </html>